<!-- <button (click)="btn()">click me</button> -->


<!-- <input type="text" value="myinputtext" (click)="onInputClick($event)"> -->

<button (click)="AddMe($event)" value="Laptop">Laptop</button>
<button  (click)="AddMe($event)" value="tv">TV</button>
<button  (click)="AddMe($event)"value="machine">Machine</button>

<p>{{msg}}</p>

<input #inputInfo type="text" value="alina" name="name">
<button (click)="getInputInfo(inputInfo)">get info</button>

<input type="text" [(ngModel)]="uname">

<p>{{uname}}</p>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
</div>


<button class="btn btn-success" (click)="onCreate()">create block</button>
<div *ngIf="isValid ; then thenblock else elseblock">block has been created and name is myblock</div>
<ng-template #elseblock>
  <div>no block has been created yet</div>
</ng-template>

<ng-template #thenblock>
  <div> block has been created yet</div>
</ng-template>


<table border="1px">
  <thead>
    <tr>
      <td>Product Id </td>
      <td>Product  Name</td>
      <td>Product Price</td>

    </tr>
    <tr *ngFor="let mypro of products">
      <td>{{mypro.proId}} </td>
      <td>{{mypro.proName}}</td>
      <td>{{mypro.proPrice}}</td>

    </tr>
  </thead>
</table>
