<!-- <h1>{{value | uppercase}}</h1>

<h1>{{date }}</h1>

<h1>{{date |date:'short'}}</h1>

<h1>{{date |date:'short' | uppercase}}</h1>

<h1>{{value | slice:1}}</h1> -->


<!-- <button (click)='>Alert</button> -->

<!-- {{product}} -->

<div *ngFor="let item of list">
  <ng-container *ngTemplateOutlet="listDirective?.templateRef; context: { $implicit: item.icon }"></ng-container>
  <ng-container *ngTemplateOutlet="listDirective?.templateRef; context: { $implicit: item }"></ng-container>
</div>
