<div>
  <app-card>
    <h1>Mobile</h1>
    <button>More about Mobile</button>
  </app-card>
  </div>

  <div>
    <app-card>
      <h1>Mobile</h1>
      <button>More about Mobile</button>
    </app-card>
  </div>

  <div>
      <app-card>
        <h1>Mobile</h1>
        <button>More about Mobile</button>
      </app-card>
    </div>

  <div>
        <app-card>
          <h1>Mobile</h1>
          <button>More about Mobile</button>
        </app-card>
  </div>



